#toggleLogin {
    
    padding-right: 15px;
}

#loginAlert {
    
    display: none;
}

#tweetSuccess {
  display: none;
}

#tweetFail {
  display: none;
}

.mainContainer {
    
    padding: 20px;
    
}

#search {
  margin-bottom: 15px;
}


#footer {
  text-align: center;
}


.time {
    
    color: lightgrey;
}


.tweet {
    
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    
}


.col-auto {
    
    padding-top: 15px;
    
}